/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font: 400 16px/1.5 "CircularPro, Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  color: #5b5e6d;
}

/* ---- typography ---- */

h1,h2,h3{
  font-family: 'Segoe UI', sans-serif;
  font-weight: 700;
  color: #2C303F;
  line-height: 1;
}
h1{
  font-size: 3rem;
  margin-top: 0;
}
h2{
  font-size: 2rem;
  margin-top: 0;
}
h3{
  font-size: 1.7rem;
}
img{
  max-width: 100%;
}
p{
  font-size: 1rem;
}
/* ---- layout ---- */

.container {
  width: 85%;
  margin: 0 auto;
}
.try-it-section__item, .try-it-section__btn .banner__item{
  width: 100%;
}
.row.mobile-flex{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.flex-space-between{
  justify-content: space-between;
}
.flex-center{
  justify-content: center;
}
.flex-column{
  flex-direction: column;
}
.flex-row-reverse{
  flex-direction: row-reverse;
}
.align-center{
  align-items: center;
}
.main-footer .mobile-flex .footer-img{
  width: 100%;
}
.text-center{
  text-align: center;
}
.front-page-section{
  padding: 3rem 0;
}
/* ---- buttons ---- */

.btn{
  width: 100%;
  border-radius: 4px;
  background:#192592;
  color: #fff;
  padding: 19px 40px 20px;
  font-size: .875rem;
  font-weight: 500;
}
.btn--stroked{
  border:1px solid #192592;
  background: #fff;
  color: #192592;
}

/* ---- Nav ---- */

.top-bar{
  border-bottom:1px solid #F4F3F4;
  box-shadow: 0 1px 1px rgba(0,0,0,.15);
  position: fixed;
  top: 0;
  left: 0;
  height: auto;
  width: 100%;
  background:#fff;
}
.top-logo{
  flex-basis: 125px;
  margin-top: 8px;
}
.top-logo >img {
  width: 80%;
}
.top-bar .menu{
  list-style: none;
  display: none;
  padding-left: 1rem;
}
.top-bar .menu a{
  padding-right: 10px;
  text-decoration: none;
  color: #5b5e6d;
  font-size: 1rem;
}
.top-bar .menu.open{
  position: absolute;
  margin: 0;
  top: 0;
  text-align: center;
  left: 0;
  background: #fff;
  height: 100vh;
  width: 100%;
  z-index: 10;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.button_container {
  position: relative;
  height: 27px;
  width: 24px;
  cursor: pointer;
  z-index: 12;
  transition: opacity .25s ease;
  margin-left: auto;
  display: block;
}
.button_container span {
  background: #5b5e6d;
  border: none;
  height: 4px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .35s ease;
  cursor: pointer;
}
.button_container span:nth-of-type(2) {
  top: 9px;
}
.button_container span:nth-of-type(3) {
  top: 18px;
}
.button_container.open span:nth-of-type(1) {
  opacity: 0;
}
.button_container.open span:nth-of-type(2) {
  transform: rotate(-45deg);
  top:18px;
}
.button_container.open span:nth-of-type(3) {
  top: 18px;
  transform: rotate(45deg)
}

/* ---- sections ---- */

.banner{
  margin-top: 64px;
}
.banner img,.icon-container{
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.banner .btn + p, .try-it-section h2 + p{
  font-weight: 400;
  font-size: 1rem;
}
.banner a, p>a{
  color: #192592;
}
.main-content{
  text-align: center;
}
.colaboration-section, .bottom-bar{
  background: #F4F3F4;
  border-bottom: 1px solid #ebebeb;
  border-top: 1px solid #ebebeb;
}
.colaboration-section h2 + p{
  margin-top: 0;
  font-size: 1.25rem;
}
.colaboration-section .btn{
  margin-top: 20px;
}
.try-it-section{
  border-bottom: 1px solid #ebebeb;
}
.fig-container{
  margin: 3rem 0 0;
}
.fig-container figure{
  max-width: 140px;
  margin: 0 auto 1rem;
}
.fig-container figure img{
  width: 70%;
}

/* ---- footer ---- */

.main-footer{
  text-align: center;
  padding: 40px 0 0;
}
.main-footer ul{
  list-style-type: none;
  text-align: left;
}
.main-footer ul li{
  font-size: .875rem;
  padding: 0.55rem 0;
  font-weight: 300;
  color: #454545;
}
.main-footer .useful-links ul li:first-child{
  font-weight: 600;
}
.bottom-bar ul > li > a{
  font-weight: 600;
  color: #454545;
  text-decoration: none;
  font-size: .875rem;
}
.main-footer ul{
  padding-left: 0;
}
.main-footer img{
  width:100px;
}
.bottom-bar{
  font-size: .7rem;
  padding-bottom: 30px;
}
.bottom-bar ul{
  text-align: center;
}
.bottom-bar ul li{
  margin-right: 5px;
}
.footer-icon-section{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 160px;
  margin: 0 auto;
}
.footer-icon-section img{
  width: 25px;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .main-content{
    text-align: left;
  }
  .front-page-section{
    padding: 7rem 0;
  }
  .row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .flex-container {
    display: flex;
    flex-flow: row wrap;
    align-items:center;
  }
  .btn--stroked{
    width: 40%;
  }
  figure, .try-it-section__item, .banner__item{
    flex-basis: 50%;
  }
  .fig-container__item > img{
    max-width: 100%;
  }
  .col-try-it-section__btn{
    flex-basis: 20%;
    max-width: 20%;
  }
  .top-bar .menu > li{
    display: inline-block;
  }
  .main-footer .mobile-flex .footer-img{
    width: auto;
  }
  .main-footer ul:not(.bottom-bar):not(ul){
    align-self:flex-start;
  }
  .main-footer .bottom-bar ul li{
    display: inline-block;
  }
  .bottom-bar{
    padding-bottom: 0;
  }
  .footer-icon-section{
    margin: 0;
  }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  figure{
    flex-basis: 33.33333%;
  }
  .top-bar .menu{
    display: block;
  }
  .button_container{
    display: none;
  }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}